<!doctype html>
<html  lang="en">
  <head>
    <title>A Web Page</title>
    <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% block  content %}
    {% endblock %}
  </body>
</html>